<!-- pagebottom starts -->
	<div id="page-bottom">
		<!-- <div id="page-bottom-sidebar">
			<h3>Quick Links</h3>
			<ul class="list">
				<li class="first"><a href="#">Home</a></li>
				<li><a href="registeration.html">Register</a></li>
				<li class="last"><a href="index.html">Login</a></li>
			</ul>
		</div> -->
		<br class="clearfix" />
	</div>
	<!-- pagebottom ends -->
</div>


<div id="footer">
	<h2>&copy; ShareIt. All rights reserved. Design by <a href="" rel="nofollow">cOsmic</a></h2>
</div>

</body>
</html>